@charset "utf-8";
/* CSS Document */
*, html, body, p {
	margin:0; 
	padding:0; 
	list-style: none;
	text-decoration: none;
	outline: 0;
	box-sizing: border-box;
	font-family: 'Arial';
	font-size: 8px;
	color: #fff; 
}
 body {
 	width: 100%;
 	height: 100vh;
 	background: #000;
 /*	background:  linear-gradient(to top, #000 0%, #000 70%, #1b1b1b 80%, #1b1b1b 100%);
*/
}
/*HEADER*/
header {
	width: 100%
	height: auto;
	position: relative;
}
.header-top {
	width: 100%;
	height: 27px; 
	background: #000;
	border-bottom: 1px solid #363a3f;
	box-shadow: 0 0 10px rgba(0,0,0,0.5)
}
.header-img {
	width: 100%;
	height: auto;
	text-align: center;
}
.header-menu {
	width: 990px;
	height: 69px;
	border: 1px solid #343434;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
	background: #212121;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
}
.menu-logo {
	width: 210px;
	height: 67px;
	background: #303030;
	text-align: center;
	padding-top: 7px;
	float: left;
	border-bottom: 13px solid #101010;
	border-bottom-left-radius: 9px;
}
.menu-nav {
	width: 100%;
	height: 67px;
	float: right;
	border-bottom: 13px solid #101010;
	border-bottom-right-radius: 9px;
}
.navbar ul {
	width: 100%;
	height: auto;
	padding: 0 10px;
}
.navbar ul li { 
	display: inline-block;
	width: 10.8%;
	height: 68px;
	border-left: 1px solid transparent;
	padding-top: 23px;
	text-align: center;
	}
.navbar ul li a {
	font-size: 12px;
	font-weight: bold;
	
	}
.navbar ul li:hover {
	border-left: 2px solid #525252;
	background: radial-gradient(circle farthest-side at 50% 68px, rgba(255, 255, 255, 0.55), rgba(209, 120, 15, 0.78));
}
.navbar .active  {
	background: radial-gradient(circle farthest-side at 50% 68px, rgba(255, 255, 255, 0.55), rgba(209, 120, 15, 0.78));
	border-left: 2px solid #525252;
}
.header-abc {
	width: 887px;
	height: 46px;
	border: 1px solid #343434;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	background: rgba(0, 0, 0, 0.71);
	position: absolute;
	margin: auto;
	bottom: -3px;
	left: 0;
	right: 0;
	padding: 14px 55px;
}
.header-abc ul {
	width: 100%;
	height: auto;
}
.header-abc ul li { 
	display: inline-block;
	text-align: center;
	margin: 0 7px;
	}
.header-abc ul li a {
	font-size: 12px;
	font-weight: bold;
	}
.header-abc ul li a:hover {
	color: orange;
}
.container-form-pablic {
	width: 990px;
	height: auto;
	margin:auto;
	padding-top: 3px;
}
/*search & registration form*/
.main-form-bg {
	width: 100%;
	height: 50px;
	background: linear-gradient(to top,#585858 0%, #111111 50%, #585858 100%);
	border: 1px solid #505050;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	position: relative;
}
.main-form {
	width: 98.5%;
	height: 45px;
	background: linear-gradient(to top,#292929 0%, #1f1f1f 45%, #5b5b5b 100%);
	border: 1px solid rgba(41, 41, 41, 0.31);
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	position: absolute;
	margin: auto;
	bottom: -2px;
	left: 0;
	right: 0;
	display: flex;
	padding: 10px 10px 0 75px;
	justify-content: space-between;
}
.main-form-left {
	width: auto;
	height: auto;
	display: flex;
	float: left;
}
.main-form-logo {
	width: auto;
	height: auto;
	padding-top: 2px;
}
.main-form-search {
	width: 307px;
	height: 25px;
	padding: 0 12px; 
	display: flex;
	position: relative;
}
.main-form-search input {
	width: 100%;
	height: auto;
	background: #2b2b2b;
	border: 1px solid #363636;
	border-radius: 12.5px;
	padding-left: 10px; 
	font-style: italic;
	margin-left: 20px;
	padding: 0 20px;
	font-size: 10px;
}
.main-form-search:after {
	content: '';
	width: 32px;
	height: 27px;
	background: url(../image/lupa.png);
	position: absolute;
	right: 14px;
}
.main-form-menu {
	float: right;
	right: 0;
}
.main-form-menu ul {
	width: 100%;
	height: auto;
	padding-top: 5px;
}
.main-form-menu ul li { 
	display: inline-block;
	text-align: center;
	margin: 0 7px;
	margin-left: 7px;
	position: relative;
	}
.main-form-menu ul li:nth-child(1):after { 
	content: '';
	width: 2px;
	height: 11px;
	background: url(../image/dotted.png);
	position: absolute;
	right: -10px;
	}
.main-form-menu ul li:nth-child(2):before { 
	content: '';
	width: 2px;
	height: 11px;
	background: url(../image/dotted.png);
	position: absolute;
	right: -10px;
	}
.main-form-menu ul li a {
	font-size: 12px;
	color: #848484;
	text-shadow: 2px 2px #000;
	font-family: 'Myriad Pro';
	}
.main-form-menu ul li a:hover {
	color: #c27d00;
}
.main-form-menu .active {
	color: #c27d00;
}
.publicution {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	margin-top: 19px;
}
.public {
	width: 327px;
	height: 179px;
	border: 1px solid #2e2e2e;
	position: relative;
	padding: 13px 19px;
}
.public:before {
	content: '';
	width: 8px;
	height: 9px;
	background: url(../image/bottom-right-corner.png);
	position: absolute;
	left: -3px;
	bottom: -2.5px;
}
.public:after {
    content: '';
    width: 10px;
    height: 10px;
    background: url(../image/top-left-corner2.png);
    position: absolute;
    right: 0px;
    top: 0px;
}
.public-title p {
	font-size: 12px;
	color: #848484;
	text-shadow: 2px 2px #000;
	font-family: 'Myriad Pro';
	padding: 0 0 10px 32px;
}
.public-title p:hover {
	color: #c27d00;
}
.new:before {
	content: '';
	width: 30px;
	height: 27px;
	background: url(../image/public-title.png);
	position: absolute;
    left: 15px;
    top: 6px;
}
.best:before {
	content: '';
	width: 26px;
	height: 26px;
	background: url(../image/best-public.png);
	position: absolute;
    left: 16px;
    top: 6px;
}
.download:before {
	content: '';
	width: 19px;
	height: 20px;
	background: url(../image/top-download.png);
	position: absolute;
    left: 18px;
    top: 9px;
}
.item {
	width: 100%;
	height: 129px;
	border: 1px solid #2e2e2e;
	padding: 14px 0 0 37px;
	box-shadow: inset 0 0 30px rgba(128, 128, 128, 0.53);
}
.item:before {
	content: '';
	width: 2px;
	height: 43px;
	background: url(../image/border-left-light.png);
	position: absolute;
	left: -1px;
	top: 45%;
}
.item:after {
	content: '';
	width: 103px;
	height: 130px;
	background: url(../image/border-right-light.png);
	position: absolute;
	right: 17px;
    top: 36px;
}
.item ul li {
	margin-bottom: 7px;
	position: relative;
	z-index: 10;
}
.item ul li:before {
	content: '';
	width: 11px;
	height: 11px;
	background: url(../image/marker.png);
	position: absolute;
	left: -20px;
	top: 1px;
}
.item ul li a{
	font-size: 12px;
	font-family: 'Myriad Pro';
}
.item ul li a:hover{
	color: #c27d00;
}
.container-content {
	width: 993px;
	height: auto;
	margin:auto;
	margin-top: 17px;
	background: #1f1f1f;
	display: flex;
	border-bottom: 1px solid #000;
}
/*SIDE BAR*/
aside {
	width: 220px;
	height: auto;
	padding: 1px 5px 0 5px;
	margin-bottom: 50px;
}
/*left sidebar*/
.aside-item {
	width: 100%;
	height: auto;
	background: #1a1a1a;
	margin-top: 10px;
}
.aside-title {
	width: 100%;
	height: 40px;
	padding: 12px 35px 0 19px;

}
.aside-title p{
    font-size: 14px;
    font-family: 'Myriad Pro';
    color: #000;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.53);
}
.title-left {
	background: url(../image/left.png);
	position: relative;
}
.title-left:after {
	content: '';
	width: 15px;
	height: 13px;
	background: url(../image/left-marker1.png);
	position: absolute;
	right: 12px;
	top: 14px;
}
.title-left2 {
	background: url(../image/left.png);
	position: relative;
}
.title-left2:after {
	content: '';
	width: 10px;
	height: 11px;
	background: url(../image/left-marker2.png);
	position: absolute;
	right: 13px;
	top: 15px;
}
.aside-nav {
	width: 100%;
	height: auto;
	padding-bottom: 16px;
}
.aside-nav ul li {
	position: relative;
	padding: 6px 0 6px 28px;
	border-bottom: 1px dashed #000;
}
.aside-nav ul li:before {
	content: '';
	width: 11px;
	height: 11px;
	background: url(../image/marker.png);
	position: absolute;
	left: 8px;
	top: 8px;
}
.aside-nav ul li a{
	font-size: 12px;
	font-family: 'Myriad Pro';
}
.aside-nav ul li a:hover{
	color: #c27d00;
}
.aside-img {
	padding: 15px;
}

/*right sidebar*/
.title-right {
	background: url(../image/right.png);
	position: relative;
}
.title-right p {
	font-size: 14px;
    font-family: 'Myriad Pro';
    color: orange;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.53);
    text-align: center;
}
.aside-nav {
	width: 100%;
	height: auto;
	padding-bottom: 16px;
}
.aside-nav ul li {
	position: relative;
	padding: 6px 0 6px 28px;
	border-bottom: 1px dashed #000;
}
.aside-nav ul li:before {
	content: '';
	width: 11px;
	height: 11px;
	background: url(../image/marker.png);
	position: absolute;
	left: 8px;
	top: 8px;
}
.aside-nav ul li a{
	font-size: 12px;
	font-family: 'Myriad Pro';
}
.aside-nav ul li a:hover{
	color: #c27d00;
}
.title-right {
	background: url(../image/right.png);
}
.aside-img {
	padding: 13px;
}

.aside-nav-tb {
	width: 100%;
	height: auto;
}
.aside-nav-tb table tr td a img {
	width: auto;
	height: auto;
	border: 1px solid orange;
}
.aside-nav-tb table tr td input {
	width: 100%;
	height: 22px;
	background: linear-gradient(to top, #935016 0%, #f28804 100%);
	border: none;
	color: #000;
	font-size: 11px;
	font-family: 'Myriad Pro';
	cursor: pointer;
}
.aside-nav-tb table tr td a {
	color: #f08704;
	font-size: 9px;
}
table {
	border-spacing: 18px;
}

.aside-nav-quiz {
	width: 100%;
	height: auto;
	padding: 15px;
}
.quiz {
	width: 100%;
	height: auto;
	padding: 10px 0;
}
.aside-nav-quiz p{
	color: #f08704;
	font-size: 11px;
	font-weight: bold;
}
.quiz-line {
	display: flex;
	margin-bottom: 5px; 
}
.radio {
	margin-right: 10px;
}
.aside-nav-quiz label{
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 2px;
}

.quiz-btn {
	width: 100%;
	height: 20px;
	display: flex;
	justify-content: space-between;
}

.quiz-btn input {
	width: 49.5%;
	height: 22px;
	background: linear-gradient(to top, #935016 0%, #f28804 100%);
	color: #000;
	font-size: 11px;
	font-family: 'Myriad Pro';
	cursor: pointer;
	border: 1px solid rgba(128, 128, 128, 0.49);
}
.quiz-btn input:nth-child(2) {
	background: linear-gradient(to top, #000 0%, #1f1f1f 100%);
	color: #fff;
}

/*FOOTER*/
.pre-footer {
	width: 993px;
	height: 16px;
	background: linear-gradient(to top, #212121 5%, #1e1e1e 50%, #1c1c1c 70%, #212121 95%);
	border-bottom: 1px solid #000;
	margin:auto;
}
footer {
	width: 993px;
	height: 106px;
	margin:auto;
	background: #0c0c0c;
	display: flex;
	border: 1px solid #252525;
}
.footer-logo {
	width: 233px;
	height: 100%;
	text-align: center;
	padding-top: 30px;
	position: relative;
}
.footer-logo:after {
	content: '';
	width: 12px;
	height: 95px;
	background: url(../image/footer-border.png);
	position: absolute;
	right: 0;
	top: 7px;
}
.footer-txt {
	width: 446px;
	height: 100%;
	padding: 30px 20px 0 20px;
	position: relative;
}
.footer-txt p:first-child {
	font-size: 12px;
}
.footer-txt p:nth-child(2) {
	font-size: 10px;
	margin-top: 5px;
}
.footer-txt p:nth-child(3) {
	font-size: 12px;
	font-family: 'Myriad Pro';
	font-weight: bold;
	color: #424242;
	margin: 5px 0 0 251px;
}
.footer-txt:after {
	content: '';
	width: 12px;
	height: 95px;
	background: url(../image/footer-border.png);
	position: absolute;
	right: 0;
	top: 7px;
}
.footer-table {
	width: 228px;
	height: 100%;
	padding: 22px 0 0 50px;
}
.footer-table table {
	border-spacing: 5px;
}
.footer-up {
	width: 70px;
	height: 100%;
	padding: 37px 0 0 20px;

}
/***********CONTENT**********/
/*big slider*/
.content {
	width: 553px;
	height: auto;
	margin-top: 10px;
}
.slider-big {
	width: 100%;
	height: 258px;
	position: relative;
	display: flex;
}
.slider-big-top {
	width: 100%;
	height: 30px;
	padding: 8px;
	background: rgba(0, 0, 0, 0.46);
	position: absolute;
}
.slider-big-top p {
	text-align: center;
	font-size: 12px;
}
.slider {
	width: 100%;
	height: 63px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.46);
	padding: 5px 40px;
	display: flex;
	justify-content: space-between;
}
.slider1-arr-left {
	width: auto;
	height: auto;
	position: absolute;
	bottom: 8px;
	left: 2px;
	z-index: 1;
}
.slider1-arr-right {
	width: auto;
	height: auto;
	position: absolute;
	bottom: 8px;
	right: 2px;
	z-index: 1;
}
/*small slider*/
.slider-small {
	width: 100%;
	height: 92px;
	display: flex;
	position: relative;
	padding: 0;
	margin: 0;
}
.slider2 {
	width: 100%;
	max-width: 553px;
	height: 91px;
	display: flex;
	overflow: hidden;
	position: absolute;
}
.slider2-arr-left {
	width: auto;
	height: auto;
	position: absolute;
	bottom: 18px;
	left: 0px;
	z-index: 1;
}
.slider2-arr-right {
	width: auto;
	height: auto;
	position: absolute;
	bottom: 18px;
	right: 0px;
	z-index: 1;
}
/*navigation bar*/
.browse-nav{
	width: 100%;
	height: 35px;
	background: linear-gradient(to top,  #fff 70%, #c7c7c7 100%);
	border: 1px solid #c7c7c7;
	border-top: 1px solid #000;
	display: flex;
	padding: 12px 0 0 25px;
	position: relative;
	}
.browse-nav:before {
	content: '';
	width: 14px;
	height: 14px;
	background: url(../image/content-point.png);
	position: absolute;
	left: 9px;
	top: 13px;
}
.browse-nav p, .browse-nav a {
	color: #000;
	margin: 2px 0 0 3px;
	font-size: 12px;
}
.grey-line1 {
	width: 200px;
	height: 15px;
	margin-left: 20px;
	background: url(../image/grey-line1.png) repeat-x;
}
.browse-title{
	width: 100%;
	height: 33px;
	background: #000;
	display: flex;
	padding: 11px 0 0 30px;
	position: relative;	
}
.browse-title h2{
	color: #ef8605;
	font-size: 11px;
}
.browse-title:before {
	content: '';
	width: 34px;
	height: 32px;
	background: url(../image/arr.png);
	position: absolute;
	left: 0px;
	top: 2px;
}
.browse-title:after {
	content: '';
	width: 58px;
	height: 29px;
	background: url(../image/hert-pen.png);
	position: absolute;
	right: 3px;
	top: 3px;
}
.browse-item{
	width: 100%;
	height: auto;
	background: #fff;
	display: flex;
	padding: 0 10px;
	position: relative;
	justify-content: space-between;
	}
.browse-item p{
	color: #000;
	font-size: 10px;
	margin: 1.5px 0 0 0;
}
.browse {
	width: 100%;
	height: auto;
	background: #fff;

}
.grey-line2 {
	width: 533px;
	height: 7px;
	margin: 0 10px;
	background: url(../image/grey-line2.png) repeat-x;
}
.browse-img-txt {
	width: 100%;
	height: auto;
	display: flex;
	padding: 10px;
}
.browse-img-txt p {
	color: grey;
	font-size: 12px;
	margin-left: 10px;
}
.browse-img-txt b {
	color: grey;
	font-size: 12px;
}
.grey-line3 {
	width: 337px;
	height: 15px;
	margin-left: 10px;
	background: url(../image/grey-line1.png) repeat-x;
}
.line-coment-btn {
	width: 100%;
	height: 17px;
	display: flex;
	position: relative;

}
.line-coment-btn p{
	color: #000;
	font-size: 11px;
	margin-left: 10px;
}

.line-coment-btn input {
	width: 75px;
	height: 22px;
	background: linear-gradient(to top, #935016 0%, #f28804 100%);
	color: #000;
	font-size: 11px;
	font-family: 'Myriad Pro';
	cursor: pointer;
	border: 1px solid rgba(128, 128, 128, 0.49);
	position: absolute;
	bottom: 0px;
	right: 10px;
}
.browse-pages {
	width: 100%;
	height: 79px;
	background: #fff;
	padding: 25px 0 0 168px;
	display: flex;
	position: relative;

}
.pages {
	width: 205px;
	height: 32px;
	background: #000;
	text-align: center;
}
.pages ul li {
	display: inline-block;
}
.pages ul li {

}
.pages ul li a {
	padding: 10px 0;
  	display: block;
  	text-align: center;
  	font-size: 12px;
	color: #ef8605;
	margin-right: 1px;
}
.pages ul li a:hover {
	color: #fff;
}
.pages .active {
	color: #fff;
}

.p-arr-left {
	width: auto;
	height: auto;
	position: absolute;
	bottom: 19px;
	left: 130px;
	z-index: 1;
}
.p-arr-right {
	width: auto;
	height: auto;
	position: absolute;
	bottom: 19px;
	right: 142px;
	z-index: 1;
}
/*banner*/
.adv {
	width: 100%;
	height: 81px;
	border: 1px solid black;
	padding: 13px 52px;
	position: relative;

}
.order {
	width: auto;
	height: auto;
	position: absolute;
	bottom: 0;
	left: 8px;
	z-index: 1;
}
